<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>
</head>
<body>
    <header th:fragment="header" role="banner">
        <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" href="#">山东省地质矿产勘查开发局</a>
        </nav>
    </header>
</body>
</html>