<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>SDGM单点登录</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>

</head>

<body class="login" style="background-image: url(../../cas/images/weihai.jpg);background-repeat:round">
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" class="row">
        <div class="col-md-8" style="margin-left: calc(100%/6)">
            <div th:replace="fragments/loginform :: loginform"><a href="fragments/loginform.html">Login Form goes
                here</a></div>
        </div>
    </div>
</main>
</body>
</html>
